.main {
  padding-top: 97px;
  width: 400px;
  margin: 0 auto;
}

.top_intro {
  width: 100%;
  height: 300px;
  background-image: url('../img/top.jpg');
  text-align: center;
  padding-top: 50px;
}

.top_intro > p {
  margin: 20px 10px;
}

.top_btnbox {
  width: 33.3%;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 15px;
  float: left;
}

.top_btn {
  margin: 0 auto;
  display: inline;
  float: left;
}

.top_infobox {
  width: 60%;
  float: left;
  text-align: center;
}

.top_imgbox {
  margin-top: 5px;
  float:left;
  width: 35%;
}

.post_userinfo {
  display: inline-block;
  padding-top: 5px;
  padding-left: 10px;
  font-weight: bold;
}

.juggler_levbox {
  margin-top: 10px;
  color: orange;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.juggler_infobox {
  padding: 10px;
  border:0;
  border-bottom:1px dashed #999;
}

.juggler_info {
  margin: 0 auto;
}

.juggler_info th {
  padding: 10px 5px 0;
  height: 20px;
}

.juggler_info td  {
  text-align: center;
  height: 30px;
  padding: 0 5px 10px;
}

.cnt {
  text-align: center;
}

.js10 {
  font-size: 10px;
}

.js12 {
  font-size: 12px;
}

.js14 {
  font-size: 14px;
}

.js20 {
  font-size: 20px;
}

.js24 {
  font-size: 24px;
}

.float_l {
  float: left;
}

.float_r {
  float: right;
}

.right-fixed {
  float: right;
}

.left-fixed {
  float: left;
}

.bold {
  font-weight: bold;
}

.trick-box {
  margin-top: 25px;
}

.trick_title {
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

.trick_intro {
  display: inline-block;
  float: left;
  margin-top: 8px;
  padding-left: 10px;
}

.trick_pst {
  display: inline-block;
  padding-top: 2px;
  padding-left: 18px;
  float:left;
}

.trick_bar {
  width: 100%;
  display: inline-block;
  padding-left: 10px;
}

.user_table td  {
  height: 30px;
  padding-right: 7px;
}

#post_userimg {
  display: inline-block;
}

#post_lv {
  font-size: 14px;
  color: orange;
}

#post_time {
  padding-top: 20px;
  font-weight: bold;
  font-size: 26px;
}

#post_memo {
  margin: 10px 0 0 5px;
  text-align: center;
}

#juggler_img {
  display: block;
  margin: 0 auto;
}

#juggler_name {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  margin-top: -3px;
}

#button {
  text-align: center;
  padding: 0 0 15px;
}

#update_btn {
  float: right;
  margin: -10px auto;
}

#find_img {
  padding-right: 10px;
}
